## ide
**/.idea
*.iml
rebel.xml

## backend
**/target
**/logs

## front
**/*.lock
os_del.cmd
os_del_doc.cmd
.svn
derby.log

## 文档
**/doc
Fix-README.md
Log-README.md

## AI IDE
.freebuff
.workbuddy
.codex