<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.wms.wmstask.mapper.WmsTasksMapper">
    <select id="queryTaskList" parameterType="org.jeecg.modules.wms.wmstask.entity.WmsTasks"
            resultType="org.jeecg.modules.wms.wmstask.entity.WmsTasks">
        select wt.*,wsio.owner_name stock_in_order_number,ww.warehouse_name ,wp.product_name,wco.order_number
        from wms_tasks wt
        left join wms_stock_in_orders wsio on wt.stock_in_order_id = wsio.id
        left join wms_warehouses ww on wt.target_warehouse_id=ww.id
        left join wms_products wp on wt.product_id = wp.id
        left join wms_cargo_owners wco on wp.owner_id = wco.id

        where 1=1
        <!--精确查询任务号-->
        <if test="taskNumber != null and taskNumber !=''">
            and wt.task_number = #{taskNumber}
        </if>
        <if test="taskType != null and taskType !=''">
            and wt.task_type = #{taskType}
        </if>
        <if test="taskStatus != null and taskStatus !=''">
            and wt.task_status = #{taskStatus}
        </if>
        <if test="stockInOrderNumber != null and stockInOrderNumber !=''">
            and wsio.order_number = #{stockInOrderNumber}
        </if>
        <!--根据波次id查询-->
        <if test="waveOrderId != null and waveOrderId !=''">
            and wt.wave_order_id = #{waveOrderId}
        </if>
        <!--执行人-->
        <if test="operator != null and operator !=''">
            and wt.operator = #{operator}
        </if>
        order by wt.create_time desc
    </select>
</mapper>